* { padding: 0; margin: 0; }

body {
	display: flex;
	align-items: center;
}

.clock {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	border: 10px solid black;
	border-radius: 400px;
}

.clock:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 20px;
	transform: translate(-50%, -50%);
}

#arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	border: 1px solid black;
	transform-origin: 0 0;
	transform: translate(-50%, -50%);
}